[submodule "external/full-br-index"]
	path = external/full-br-index
	url = https://github.com/U-Ar/full-br-index.git
[submodule "SUBSEQ2"]
	path = external/SUBSEQ
	url = https://github.com/trer/SUBSEQ.git
